<div class="full-screen-container">
    <div header="Forgot Password" class="forgot-password-panel">
      <div class="content-container">
        <div class="card">
          <img
            class="card-img-top"
            src="https://images.lecho.be/view?iid=Elvis:2Ab6lWjOqjwAi-2ixJS-SC&context=ONLINE&ratio=16/9&width=640&u=1662657901000"
            alt="Card image cap"
          />
          <div class="card-body">
            <h2 class="card-title text-center">Forgot Password</h2>
            <form (ngSubmit)="submitForm()" #form="ngForm">
              <div class="form-group">
                <label for="token">Your Email</label>
                <input
                  type="text"
                  id="token"
                  name="token"
                  class="form-control"
                  [(ngModel)]="email"
                  required
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="form.invalid"
              >
                Submit
              </button>
            </form>
            <a href="#" class="signin-link" routerLink="/signin">have an account?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  