html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the body takes the full width */
  overflow-x: hidden;
}

.navbar {
  background-color: #e0f7fa; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0; /* Ensure the navbar starts from the left edge */
  width: 100%; /* Ensures the navbar spans the full width */
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.navbar-brand .brand-name {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.navbar-brand .logo:hover {
  transform: scale(1.1); 
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: black;
}

.nav-link {
  font-size: 16px;
  color: black;
  padding: 8px 15px; 
  transition: color 0.3s; 
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
  color: #e0f7fa;
  background-color: black;
  text-decoration: none;
}

.active-link {
  color: #000 !important; /* Text color in black */
  text-decoration: underline !important; /* Underline the active link */
  text-decoration-color: black !important; /* Underline color in yellow */
  background-color: transparent !important;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav.mx-auto {
  flex: 1;
  justify-content: center;
}

.navbar-nav.ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.nav-item .fas {
  margin-right: 5px;
}

@media (max-width: 767.98px) {
  .navbar {
    padding: 10px;
  }

  .navbar-nav {
    text-align: center;
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .navbar-nav .nav-link {
    padding: 10px;
  }

  .navbar-brand .logo {
    width: 60px;
  }
}

body {
  padding-top: 80px; /* Adds space to avoid content being hidden behind the fixed navbar */
}