


<div class="hero-section">
  <div class="hero-content">
    <h1>Gestion de l'Énergie par EY</h1>
    <p>Optimisez votre consommation énergétique avec nos solutions innovantes et durables.</p>
    <a routerLink="/blog" class="btn btn-primary">En savoir plus</a>
  </div>
</div>


<div id="features" class="features-section">
  <div class="container">
    <h2>Fonctionnalités Principales</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box">
          <i class="feature-icon fas fa-chart-line"></i>
          <h3>Analyse des Consommations</h3>
          <p>Suivez et analysez votre consommation énergétique en temps réel.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="feature-icon fas fa-leaf"></i>
          <h3>Solutions Durables</h3>
          <p>Adoptez des pratiques énergétiques durables pour un avenir meilleur.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-box">
          <i class="feature-icon fas fa-cogs"></i>
          <h3>Optimisation et Efficacité</h3>
          <p>Améliorez l'efficacité de vos installations pour réduire vos coûts.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="testimonials-section">
  <div class="container">
    <h2>Témoignages</h2>
    <div class="testimonial">
      <img src="/assets/images/image1.jpg" alt="Jean Dupont" class="testimonial-img">
      <p>"Les solutions d'EY nous ont permis de réduire notre consommation énergétique de 20% en seulement six mois. Une véritable révolution pour notre entreprise!"</p>
      <p class="testimonial-author">- Jean Dupont, CEO de XYZ Corp.</p>
    </div>
    <div class="testimonial">
      <img src="/assets/images/image2.jpg" alt="Jean Dupont" class="testimonial-img">
      <p>"Les solutions d'EY nous ont permis de réduire notre consommation énergétique de 20% en seulement six mois. Une véritable révolution pour notre entreprise!"</p>
      <p class="testimonial-author">- Jean Dupont, CEO de XYZ Corp.</p>
    </div>
    <div class="testimonial">
      <img src="/assets/images/image3.jpg" alt="Jean Dupont" class="testimonial-img">
      <p>"Les solutions d'EY nous ont permis de réduire notre consommation énergétique de 20% en seulement six mois. Une véritable révolution pour notre entreprise!"</p>
      <p class="testimonial-author">- Jean Dupont, CEO de XYZ Corp.</p>
    </div>
  </div>
</div>

<div class="hero-section2">
  <div class="hero-content">
    <h1> Découvrez Nos Solutions Personnalisées</h1>
    <p>Demandez une démonstration pour explorer comment nos solutions innovantes peuvent transformer votre entreprise.</p>
    <a routerLink="/Demonstration" class="btn btn-primary">En savoir plus</a>
  </div>
</div>

<div class="cta-section">
  <div class="container">
    <h2>Prêt à Optimiser Votre Énergie?</h2>
    <a routerLink="/contact" class="btn btn-primary">Contactez-Nous</a>
  </div>
</div>

