<div class="container">
    <div class="profile-form">
      <div class="profile-photo">
        <img src="assets/images/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.webp" alt="Profile Photo">
      </div>
      <div class="form-fields">
        <form>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="user.phone" class="form-control">
          </div>
          <!-- <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button> -->
        </form>
      </div>
    </div>
  </div>
  