<div class="cap">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 24rem;">
          <img class="card-img-top" src="https://images.lecho.be/view?iid=Elvis:2Ab6lWjOqjwAi-2ixJS-SC&context=ONLINE&ratio=16/9&width=640&u=1662657901000" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title text-center">Reset Password</h2>
            <div class="chronometer text-center">
              <i class="pi pi-clock"></i> Time: {{ getFormattedTime(elapsedTime) }}
            </div>
            <form (ngSubmit)="submitReset()" #resetForm="ngForm">
              <div class="form-group">
                <label for="token">Code</label>
                <input type="text" id="token" name="token" class="form-control" [(ngModel)]="resetData.token" required>
              </div>
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="resetData.newPassword" required minlength="6">
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="resetForm.invalid">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>