.cap {
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;  
}
    
  .card {
    background: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent pour la lisibilité */
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .card-img-top {
    opacity: 0.6; /* Rendre l'image un peu transparente si nécessaire */
    height: 120px; /* Définir une hauteur fixe ou ajuster selon vos besoins */
    object-fit: cover; /* S'assurer que l'image couvre bien tout le haut de la carte */
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .chronometer {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  